<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Patient List</h2>
  </div>
  <form [formGroup]="searchForm" (ngSubmit)="OnSubmit(searchForm.value)">
    <input type="text" id="name" formControlName="patientName">
    <button type="submit">Search</button>
  </form>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Patient Id</th>
        <th>Patient Name</th>
        <th>Address</th>
<!--        <th>Address</th>-->
<!--        <th>Email</th>-->
<!--        <th>Contact</th>-->
<!--        <th>Created On</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients | async">
        <td>{{patient.upi}}</td>
        <td>{{patient.patientName}}</td>
        <td>{{patient.address}}</td>
<!--        <td>{{hospital.address}}</td>-->
<!--        <td>{{hospital.email}}</td>-->
<!--        <td>{{hospital.contact}}</td>-->
<!--        <td>{{hospital.createdOn}}</td>-->
        <td>
<!--          <button (click)="updateHospital(hospital.hospitalId)" class="btn btn-info" style="margin-left: 10px">Update</button>-->
          <button (click)="patientDetails(patient.upi)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="deletePatient(patient.upi)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
